
/*Reset style*/
  * {
    margin: 0;
    padding: 0;
  }
  html, body, div, span, applet, object, iframe,
  h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var,
  b, u, i, center,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

html {
  height: 100%;  
  font-size: 1.5vmin;
}

body {
  font-family: Tahoma, "MS Sans Serif", sans-serif;
  position: relative;
  height: 100%;
  background-color:#333;
  background-attachment: fixed;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAdCAYAAADVV140AAABtElEQVR42sWYWQ6EIBBEOY37ev/DOSkTEpKSPBmJfhBHpZtHNw3lhKZpjmVZjn3fb7V1XY+u6w7ZjeN4tG17tmma0n6nzwvf6hdtZK8+8ie/OHbq+zb4tm3noOrf970Gyj93cD3Xez1Tf9nlnheBU8c0spgJ9ZnnWb911T1FNs0E8DC4Zh9hdLVoAIDscMI8Xjl4ugT8PQMI2AG4pUsHwSF6kMLSxktS7Rm4Zq+IxSgMw3AngqUZkl/5T8d7DB7vVWgxGvr9BJZ8VgG36MT9V+/+jH6aRfkzP/XA3TgWYGYA3Hlkn479ArjvPA6Rn6ztGG+Cc9p5eX0EzoUmQCjoL8B5L5YtnAG1wD21Jce92/vSKTn2U3sAd0Fl9yWRBwFHQsvur8DzAseLSwqvJrj85Yr7kiuC67j1AmLpKiePwGXvkpcLX7zB1lJhSqMNgzt0fgly7QQZZWZKszcwA+f3kOV85sMDfVED/F/dA+BwtNcAZynA4CViqiI4f3cyOOuL+uCsewCcxf0r4Mzg4PCJ9gI4f9IZOKyvt8H5f52gNEBFfwDOO1sA/UFOXDkyuPpDsFjX/AAaVQm/PXemlQAAAABJRU5ErkJggg==');
}

  .view {
    position: absolute;
    z-index: 999;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    max-width: 700px;
    max-height: 700px;
    min-width: 29px;
    min-height: 29px;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: #006;
  }
  .fold {
    width: 30px;
    height: 30px;
    background-color: #006;
    position: absolute; 
    top:0; left:75%; right: 0; bottom: 75%;
    margin: auto;
  }

/*Стили для конента*/
  
  /*Стили для окна контента*/
    .content {
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      margin: auto;
      width: calc(200vmax/3.5);
      height: calc(100vmin/1.7);
      box-sizing: border-box;
      border:5px solid rgba(100, 100, 100, 0.3);
      border-top-width: 30px;
      background-color: rgba(100, 100, 100, 0.3);
      border-radius: 10px;
      background-clip: padding-box;
      transform-style: preserve-3d;
      perspective: 1000px;
      box-shadow: inset 0 0 50px 3px rgba(250, 250, 250, 0.6);
      cursor: default;
    }
    /*Тень контента*/
    div.content::after { 
      content: "";
      display:block;
      position:absolute;
      z-index: -1;
      bottom: -4%;
      left: 0;
      width: 100%;
      height: 0%;
      background-color: transparent;
      box-shadow: 0  15px 20px 3px rgba(0, 0, 0, 0.4);
    }

  /*Добавление элемента в правом углу контента, а так же текста при Hover*/
    header {
      float: right;
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(100vmin/3.5);
      height: calc(100vmin/3.5);
      margin-right: calc(-38vmin/3.5);
      margin-top: calc(-38vmin/3.5);
      margin-left: 10px;
      border-radius: 50%;
      background-color: #333;
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAdCAYAAADVV140AAABtElEQVR42sWYWQ6EIBBEOY37ev/DOSkTEpKSPBmJfhBHpZtHNw3lhKZpjmVZjn3fb7V1XY+u6w7ZjeN4tG17tmma0n6nzwvf6hdtZK8+8ie/OHbq+zb4tm3noOrf970Gyj93cD3Xez1Tf9nlnheBU8c0spgJ9ZnnWb911T1FNs0E8DC4Zh9hdLVoAIDscMI8Xjl4ugT8PQMI2AG4pUsHwSF6kMLSxktS7Rm4Zq+IxSgMw3AngqUZkl/5T8d7DB7vVWgxGvr9BJZ8VgG36MT9V+/+jH6aRfkzP/XA3TgWYGYA3Hlkn479ArjvPA6Rn6ztGG+Cc9p5eX0EzoUmQCjoL8B5L5YtnAG1wD21Jce92/vSKTn2U3sAd0Fl9yWRBwFHQsvur8DzAseLSwqvJrj85Yr7kiuC67j1AmLpKiePwGXvkpcLX7zB1lJhSqMNgzt0fgly7QQZZWZKszcwA+f3kOV85sMDfVED/F/dA+BwtNcAZynA4CViqiI4f3cyOOuL+uCsewCcxf0r4Mzg4PCJ9gI4f9IZOKyvt8H5f52gNEBFfwDOO1sA/UFOXDkyuPpDsFjX/AAaVQm/PXemlQAAAABJRU5ErkJggg==');
      background-attachment: fixed;
      box-shadow: -10px 10px 15px 0px rgba(250, 250, 250, 0.6), 10px -10px 30px 4px rgba(0, 0, 0, 0);
    }
    /*Текст*/
    h2 {
      padding: 0 3px;
      display:none;
      width: 90%;
      min-height: 2ex;
      padding-bottom: 0.3rem;
      font-size: 1.7rem;      
      font-weight: bold;
      text-align: center;
      border-radius: 30%;
      box-shadow: 0 3px 0 10px #000;
      box-sizing: border-box;
    }
    h2:first-letter {
      Color: #ff0;
      font-size: 1.9rem;
      text-shadow: 0 0 10px #ff0;
    }
    @keyframes opasity {
      from {
        opacity: 0;
      }
      30% {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    header:hover h2 {
      animation: opasity 1.5s ease-out;
      opacity: 1;
      display: block;
    }

/*Навигация*/
  
  /*Работа навигационного меню, переключение текста*/
    article {
      position: absolute;
      top: 0; left: 0; right: 0; bottom: 0;
      margin: auto;
      width: 95%;
      height: 95%;
      display: none;
    }
      article:target {
        display:block;
      }

      article#l6 {
        background-color: #900;
        display:block;
      }
      article:target ~ #l6 {
        display: none;
      }

  nav {
    position: absolute;
    z-index: 10;
  }

/*Стили для Description*/
  .description {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    background-color: rgba(70, 70, 70, 0.2);
    background-image: url();
    border-radius: 50%;
    border:1px solid rgba(250, 250, 250, 0.2);
    transition-property:  all;
    transition-duration: 1s;
    transition-timing-function: linear;
  }
    @keyframes shadow-rotate {
      0%, 100% {
        box-shadow:inset 1px 0 1px 0px white;
      }
      25% {
        box-shadow:inset 0px 1px 1px 0px white;
      }
      50% {
        box-shadow:inset -1px 0 1px 0px white;
      }
      75% {
        box-shadow:inset 0px -1px 1px 0px white;
      }
    }
    .description:hover {
      z-index: 1000;
      width: 200px;
      height: 300px;
      line-height: 300px;
      text-align: center;
      vertical-align: middle;      
      background-color: rgba(70, 70, 70, 0.7);
      border-radius: 3%;      
      border:1px solid rgba(250, 250, 250, 0.7);
      animation:shadow-rotate 2s infinite linear 1s;

    }

